
body{
    background-image: url(./Imagenes/Fondo.jpg);
    align-items: center;
}
header{
    text-align: center;
    font-size: 30px;
    color: #000000;
    background-color: rgb(91, 187, 155);
    padding: 20px;
    background-color: antiquewhite);
}
h1{
    margin-bottom: 10px;
}

nav{
    background-color: black;
    text-size-adjust: 12px;
    padding: 10px;
    ;
    

}
ul{
    list-style: disc;
    margin: 12px;
    padding: 0;
    color: #f0000
}
li{
    display: inline;
    margin-right: 20px;
    font-size: 25PX;
}
li.edu{
    
    display: list-item ;
    list-style-type: disc;
    margin-left: 20px;
    
}
li.expe{
    display: list-item ;
    list-style-type: disc;
    margin-left: 20px;
    
}

p{
    display: list-item ;
    list-style-type: circle;
    margin-left: 40px;  
}

a{
    color: #000000;
    text-decoration: none;
}

li.habi{
    display: list-item ;
    list-style-type: disc;
    margin-left: 20px;
}
fieldset{
    margin-bottom: 10px;
    background-color: rgb(200, 245, 245);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
li.cont{
    display: list-item ;
    list-style-type: disc;
    margin-left: 20px;
    color: #000000;

}
li.dato{
    display: list-item ;
    list-style-type: disc;
    margin-left: 20px;
}
